@model FundamentalsAggregator.AggregationResults
@{
    ViewBag.Title = @Model.Symbol;
}
<div class="offset2 span8">

    <form class="form-inline row">
        <input type="text" id="search-symbol" placeholder="Ticker symbol (e.g. JPM)" />

        <select id="search-exchange" class="input-xlarge">
            <option value="nyse">New York Stock Exchange (NYSE)</option>
            <option value="nasdaq">NASDAQ</option>
            <option value="lse">London Stock Exchange (LSE)</option>
            <option value="asx">Australian Securities Exchange (ASX)</option>
            <option value="nzx">NZX</option>
        </select>

        <button type="submit" id="search-btn" class="btn btn-primary">Get Fundamentals</button>
    </form>

    <div class="row fundamentals-header">
        <h1>@Model.Symbol</h1>

        @if (@Model.HasLongName)
        {
            <h4>@Model.LongName</h4>
        }

    </div>

    @foreach (var p in @Model.Providers)
    {
        <div class="row">
            
            @if (@p.IsError)
            {
                <h3>@p.ProviderName</h3>
                <p><span class="label label-important">Error</span> An error occurred looking up this symbol.</p>
            }
            else if (@p.NoFundamentalsAvailable)
            {
                <h3>@p.ProviderName</h3>
                <p><span class="label">Unavailable</span> No fundamentals available for this symbol.</p>
            }
            else
            {
                <h3><a href="@p.Url">@p.ProviderName</a></h3>
                <table class="table fundamentals-data">
                    @foreach (var f in @p.Fundamentals)
                    {
                        <tr>
                            @if (f.IsHighlighted)
                            {
                                <th class="highlighted">@f.Name</th>
                            }
                            else
                            {
                                <th>@f.Name</th>
                            }
                            
                            @if (f.IsHighlighted)
                            {
                                <td class="highlighted">@f.Value</td>
                            }
                            else
                            {
                                <td>@f.Value</td>
                            }
                        </tr>
                    }
                </table>
            }
            
        </div>
    }
    
    <div class="row">
        <h3>Derived Results</h3>
        <table class="table fundamentals-data">
            @foreach (var f in @Model.DerivedValues)
            {
                <tr>
                    @if (f.IsHighlighted)
                    {
                        <th class="highlighted">@f.Name
                        @if (f.HasToolTip)
                        {
                            <i class="icon-question-sign" title="@f.ToolTip"> </i>
                        }
                        </th>
                    }
                    else
                    {
                        <th>@f.Name</th>
                    }
                            
                    @if (f.IsHighlighted)
                    {
                        <td class="highlighted">@f.Value</td>
                    }
                    else
                    {
                        <td>@f.Value</td>
                    }
                </tr>
            }
        </table>
    </div>
    
    <div class="row muted">
        <p style="text-align: center;"><strong>New!</strong> Add <a href="?json=1"><code>?json=1</code></a> or <code>Accept: application/json</code> to return JSON fundamentals only!</p>
    </div>
</div>
