@model FundamentalsAggregator.AggregationResults
@{
    ViewBag.Title = @Model.Symbol;
}
<div class="offset2 span8">

    <form class="form-inline row">
        <input type="text" id="search-symbol" placeholder="Ticker symbol (e.g. JPM)" />

        <select id="search-exchange" class="input-xlarge">
            <option value="nyse">New York Stock Exchange (NYSE)</option>
            <option value="nasdaq">NASDAQ</option>
            <option value="lse">London Stock Exchange (LSE)</option>
            <option value="asx">Australian Securities Exchange (ASX)</option>
            <option value="nzx">NZX</option>
        </select>

        <button type="submit" id="search-btn" class="btn btn-primary">Get Fundamentals</button>
    </form>

    <div class="row fundamentals-header">
        <h1>@Model.Symbol</h1>
    </div>

    @foreach (var p in @Model.Providers)
    {
        <div class="row">
            
            @if (@p.IsError)
            {
                <h3>@p.ProviderName</h3>
                <p><span class="label label-important">Error</span> An error occurred looking up this symbol.</p>
            }
            else if (@p.NoFundamentalsAvailable)
            {
                <h3>@p.ProviderName</h3>
                <p><span class="label">Unavailable</span> No fundamentals available for this symbol.</p>
            }
            else
            {
                <h3><a href="@p.Url">@p.ProviderName</a></h3>
                <table class="table fundamentals-data">
                @foreach (var f in @p.Fundamentals)
                {
                    <tr>
                        <th>@f.Key</th>
                        <td>@f.Value</td>
                    </tr>
                }
                </table>
            }
            
        </div>
    }
</div>
